<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Conexco Bootstrap Boilerplate Theme</label>
    <label lang="en">Conexco Bootstrap Boilerplate Theme</label>
    <version>0.1.0</version>
    <description>

    </description>

    <compatibility minVersion="5.3.3"/>
    <author>conexco - the e-commerce experts</author>
    <copyright>Copyright (c) 2017, conexco UG (haftungsbeschränkt) &amp; Co. KG</copyright>
    <license>GNU GPLv3</license>
    <link>http://www.bootstrap.de</link>
</plugin>
